/*
Colors:
	Gray background: #8D8D8D;
	TecRed: #B50909;
*/
/*preset parameters*/

*{
    padding: 0;
    border: 0;
    margin: 0;
}
body {
	background-color: #8D8D8D;
}
.background{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}


header {
    width: 100%;
    height: 75px;
    position: fixed;
}
header .Logo{
    height: 75px;
}
/*in here I might add some code so that it is in focus!*/
.main_form_container {
    width: 600px;
    height: 300px;
    border: 1px solid #353535;
    background-color: #FFFFFF;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    transition: all 0.3s ease-out;
}
.main_form_container:hover {

    width: 600px;
    height: 300px;
    border: 1px solid #353535;
    background-color: #FFFFFF;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    transition: all 0.3s ease-out;
}
.main_form_container h3{
    color: #FFFFFF;
    font-size: 50px;
    cursor: default;
    margin-top: -30px;
    text-shadow: 0 2px 5px #000000;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
}
.main_form_container h3:hover{
    color: #FFFFFF;
    font-size: 50px;
    cursor: default;
    margin-top: -30px;
    text-shadow: 0 2px 5px #000000;
    position: absolute;
    bottom: 0;
    margin-left: 50%;
}

.main_results_container {
    position: absolute;
    display: inline-block;
    margin: 100px 0 auto auto;
    text-align: center;
    left: 30%;
}

.main_results_container .item{
    border: 1px solid #353535;
    display: inline-block;
    width: 250px;
    height: 250px;
}
.main_results_container img {
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 10px;
    display: inline-block;
    box-shadow: 0 0 6px #000000;
}

footer {
    width: 100%;
    height: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    transition: all 0.7s ease-out;
    padding-top: 20px;
}
footer:hover{
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-top: 0;
    transition: all 0.7s ease-out;
}
footer ul li{
    display: inline;
    font-size: 25px;
    list-style-type: none;
    padding-right: 20px;
    color: #4D4D4D;
    font-family: fantasy;
    font-weight: bold;
    transition: all 0.3s ease-out;
}
footer ul li:hover{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    color: #B50909;
    font-family: fantasy;
    font-weight: bold;
    cursor: default;
    transition: all 0.3s ease-in;
    text-shadow: 0 0 5px #999999;
}
