/*
Colors:
	Gray background: #7C848A;
	TecRed: #B50909;
*/
/*preset parameters*/

*{
    padding: 0;
    border: 0;
    margin: 0;
}
body {
	background-color: #7C848A;
}

header {

}

.main_form_container {
    width: 600px;
    height: 300px;
    opacity: 20;
    border: 2px solid #000000;
    box-shadow: 0 0 50px #000000;
    background-color: #FFFFFF;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
}

.main_form_container .form {

}


footer {
    width: 100%;
    height: 25px;
    border: 2px solid #000000;
    box-shadow: 0 0 50px #000000;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
}