/*
Colors:
	Gray background: #7C848A;
	TecRed: #B50909;
*/
body {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #7C848A;
}

header {

}

.main_form_container {

}

.main_form_container .form

footer {

}